name: CD Runner Test

on:
  workflow_dispatch:   # 수동 실행

jobs:
  test-self-hosted:
    runs-on: self-hosted
    steps:
      - name: Who am I?
        run: |
          echo "Running on:"
          hostname
          whoami
          pwd

      - name: Docker works?
        run: |
          docker ps
